<h1>Llistat bandes</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td><%= band.name %></td>
        <td><%= link_to 'Mostrar', band %></td>
        <td><%= link_to 'Editar', edit_band_path(band) %></td>
        <td><%= link_to 'Eliminar', band, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Banda', new_band_path %>
